/* Basic styling */

.pokemon-list-container .container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-list-container ul {
  list-style-type: none;
  padding: 0;
}

.pokemon-list-container li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.pokemon-list-container img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.pokemon-list-container .pokemon-list h3 {
  margin: 0;
}
